<script
src="https://code.jquery.com/jquery-3.3.1.js";
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>
<p id="notice"><%= notice %></p>

<h1>Задачи</h1>
<body>
<% @projects.each do |project| %>
	<h2><%= project.title %></h2>
		<ul>
		<% project.todos.each do |todo| %>
			<li><%= todo.text %></li>
		<% end %> 
		</ul>
<% end %>

<button id="add_todo">Добавить новую задачу</button>

<div class="add_new_todo" hidden="true" >
	<h1>Новая задача</h1>
	<% @todo = Todo.new %>
	<%= simple_form_for @todo, id: "new_todo", url: {action: "create"} do |f| %>
		<%= f.input :text, :label => "Название"  %>
		<%= f.association :project, :label => "Категория", collection: @projects, prompt: "Выберите категорию"  %>
		<%= link_to "OK", "#", id: "create_todo" %>
		<%= link_to "Отмена", "#", id: "cancel_todo" %>
	<% end %>
</div>

  </body>




<script type="text/javascript">
$(function (){
	$("#add_todo").click(function(){
		$(".add_new_todo").show();
		$("#add_todo").hide();
	});
	$("#cancel_todo").click(function(){
		$(".add_new_todo").hide();
		$("#add_todo").show();
	});
	$("#create_todo").click(function(event){
		event.preventDefault();
		$("#new_todo").submit();
	});
})
</script>
