<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @todo.text %>
</p>

<p>
  <strong>Выполнено?:</strong>
  <%= @todo.isCompleted %>
</p>

<p>
  <strong>Категория:</strong>
  <%= @todo.project.title %>
</p>

<%= link_to 'Назад', root_path %>
